header {
    color: mediumpurple;
    font-size: 100pt;
    font-family: "sans-serif";
    text-align: center;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

body {
    text-align: left;
}

p {
    color: darkblue;
}


